//font-family
$font1: "Montserrat",
sans-serif;
$font2: "Source Sans Pro",
sans-serif;
//font-size
$size-title-res: 30px;
//width
$container: 1210px;
//color
$blue-light: #00bcd4;
$blue-dark: #03899a;
$green-light: #9dc371;
$green-dark: #84ec71;
$black-light: #494c64;
$gray-mid: #5f727f;
$gray-light: #dfe5e8;
$gray-dark: #c9d8e3;
$yellow-mid: #ffc107;
// background
$background-slider: #e3e8eb;
$background-counters: #3a3c4b;
$background-gray-mid: #b6c6c9;
$bg-gray: #f0f3f2;
// border
$border-gray: #dfe5e8;