//font-size
$size-title-res: 30px;
//width
$container: 1210px;
//color
$blue-light: #00bcd4;
$blue-dark: #03899a;
$black-light: #494c64;
$green-light: #9dc371;
$gray-mid: #5f727f;
$gray-light: #dfe5e8;
$gray-dark: #c9d8e3;
$background-slider: #e3e8eb;
$background-counters: #3a3c4b;