@import "varibles";
@import "mixin";
#home {
    #qf {
        display: flex;
        padding: 140px 0;
        .item {
            .title {
                font-weight: bold;
                color: $black-light;
                font-size: 24px;
            }
            .content {
                margin: 50px 0px 60px 0;
                color: #5f727f;
            }
            .button {
                button {
                    @include custom-button(30px, 145px, $blue-light, 5px);
                }
                button:hover {
                    background-color: $blue-dark;
                }
            }
        }
        .icon {
            padding: 0 50px;
        }
    }
    #counters {
        background-color: $background-counters;
        padding: 130px 0;
        .content-counters {
            padding: 0 45px;
            display: flex;
            justify-content: space-between;
            .item {
                text-align: center;
                .number {
                    color: $green-light;
                    font-size: 50px;
                    font-weight: initial;
                }
                .desc {
                    font-size: 24px;
                    color: white;
                    margin-top: 35px;
                    text-transform: capitalize;
                }
            }
        }
    }
    #why-choosing-us {
        background-color: #f0f3f2;
        padding: 125px 0;
        .content-wcu {
            h1 {
                @include custom-title-section;
                margin-bottom: 40px;
            }
            .box-article {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                article {
                    width: 360px;
                    padding: 60px 0;
                    border-top: 1px solid #5f727f;
                    display: flex;
                    .icon {
                        width: 50px;
                        height: 50px;
                        background-color: $black-light;
                        border-radius: 50%;
                    }
                    .content {
                        width: 310px;
                        padding-left: 15px;
                        .title {
                            font-size: 19px;
                            text-transform: uppercase;
                        }
                        .desc {
                            margin-top: 35px;
                            color: #5f727f;
                        }
                    }
                }
                .none-border {
                    border: none;
                }
            }
        }
    }
    #three-col {
        display: flex;
        .item {
            flex-grow: 1;
            padding: 70px 0;
            padding-left: 65px;
            h1 {
                color: white;
                font-size: 80px;
                margin: 0;
            }
            h2 {
                margin: 80px 0 45px 0;
                color: white;
                font-size: 36px;
                font-weight: 100;
                text-transform: uppercase;
                span {
                    color: #e7ff89;
                    font-weight: bold;
                }
            }
            div {
                width: 350px;
            }
        }
        .item:nth-child(1) {
            background-color: $green-light;
            div {
                color: #3c3950;
            }
        }
        .item:nth-child(2) {
            background-color: $blue-light;
            div {
                color: #3c3950;
            }
        }
        .item:nth-child(3) {
            background-color: $black-light;
            div {
                color: white;
            }
        }
    }
    #our-case-studies {
        .content-ocs {
            padding: 120px 0;
            h1 {
                @include custom-title-section
            }
        }
        .desc {
            @include custom-desc-section($gray-mid);
        }
        .options {
            display: flex;
            justify-content: center;
            a {
                background-color: $gray-light;
                padding: 10px 30px;
                margin: 0 10px;
                border-radius: 20px;
                text-transform: uppercase;
                transition: ease .5s;
            }
            a:hover {
                background-color: $gray-mid;
                color: white;
            }
        }
        .square {
            margin: 90px 0;
            .row-1 {
                display: flex;
            }
        }
        .more-work {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .row {
                border-top: 1px solid $blue-light;
                border-bottom: 1px solid $blue-light;
                padding: 4px 0;
                width: 40%;
            }
            .button {
                button {
                    @include custom-button(50px, 200px, white, 50px);
                    border: 1px solid $blue-light;
                    color: $blue-light;
                    text-transform: uppercase;
                }
                button:hover {
                    background-color: $blue-light;
                    color: white;
                }
            }
        }
    }
    #core-competence {
        background-color: $blue-light;
        .core-head {
            h1 {
                @include custom-title-section;
                color: white;
            }
            .desc {
                @include custom-desc-section(white);
            }
        }
        .core-content {
            .bg-head {
                display: flex;
                .box-left {
                    background-color: $background-counters;
                    flex: 1;
                    width: 50%;
                    height: 70px;
                    border-radius: 0 70px 0 0;
                }
                .box-right {
                    flex: 1;
                    background-color: $background-counters;
                    height: 70px;
                    width: 50%;
                    border-radius: 70px 0 0 0;
                }
            }
            .bg-items {
                background-color: $background-counters;
                .items {
                    display: flex;
                    flex-wrap: wrap;
                    .item {
                        text-align: center;
                        flex: 50%;
                        position: relative;
                        margin-top: 50px;
                        h2 {
                            margin: 0;
                            color: white;
                            text-transform: uppercase;
                            margin: 50px 0;
                        }
                        .desc {
                            color: $gray-dark;
                            padding: 10px;
                        }
                        .button {
                            button {
                                @include custom-button(30px, 150px, $background-counters, 30px);
                                border: 1px solid $blue-light;
                                color: $blue-light;
                                text-transform: uppercase;
                                margin: 80px;
                            }
                            button:hover {
                                background-color: white;
                            }
                        }
                    }
                    .item:nth-child(1)::before {
                        content: "";
                        display: block;
                        border-right: 1px dashed $blue-light;
                        height: 90%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                    }
                    .item:nth-child(1)::after {
                        content: "";
                        display: block;
                        border-bottom: 1px dashed $blue-light;
                        height: 100%;
                        width: 90%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .item:nth-child(2)::after {
                        content: "";
                        display: block;
                        border-bottom: 1px dashed $blue-light;
                        height: 100%;
                        width: 90%;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .item:nth-child(3)::after {
                        content: "";
                        display: block;
                        border-right: 1px dashed $blue-light;
                        height: 90%;
                        width: 100%;
                        position: absolute;
                        top: 0
                    }
                }
            }
        }
    }
    #testtimonials {
        background-color: $background-slider;
        padding-top: 124px;
        .content-test {
            text-align: center;
            img {
                width: 80px;
            }
            .name {
                font-weight: bold;
                color: $blue-light;
                margin-top: 50px;
            }
            .short-desc {
                font-size: 14px;
                color: $gray-mid;
                margin: 15px 0 40px 0;
            }
            .long-desc {
                font-size: 24px;
                color: $background-counters;
                padding: 0 145px;
            }
            .icon {
                font-size: 160px;
                color: $blue-light;
                padding: 0;
            }
        }
    }
    #pricing {
        padding: 150px 0;
        .content-pri {
            .title {
                @include custom-title-section;
            }
            .desc {
                @include custom-desc-section($gray-mid);
            }
            .items {
                display: flex;
                flex-wrap: wrap;
                // align-items: baseline;
                .item:first-child{
                    border-left: 1px solid $gray-mid;
                }
                .item {
                    flex: 25%;
                    background-color: $background-slider;
                    transition: ease .5s;
                    text-align: center;
                    padding-bottom: 40px;
                    position: relative;
                    border-right: 1px solid $gray-mid;
                    border-top: 1px solid $gray-mid;
                    border-bottom: 1px solid $gray-mid;
                    .new {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: $black-light;
                        color: white;
                        text-transform: uppercase;
                        font-weight: bold;
                        line-height: 50px;
                        font-size: 12px;
                        position: absolute;
                        top: -25px;
                        left: 25px;
                    }
                    .item-title {
                        height: 90px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        div {
                            font-size: 24px;
                            color: $black-light;
                            text-transform: uppercase;
                        }
                        p {
                            font-size: 16px;
                            color: $gray-mid;
                        }
                    }
                    .item-price {
                        color: white;
                        padding: 40px 0;
                        .price {
                            font-size: 65px;
                        }
                    }
                    ul {
                        padding: 30px 0;
                        li {
                            padding: 15px 0;
                            color: $black-light;
                            border-bottom: 1px solid $gray-mid;
                            ;
                        }
                        .line-through {
                            text-decoration: line-through;
                            color: $gray-mid;
                        }
                        .none-border {
                            border: none;
                        }
                    }
                    button {
                        @include custom-button(40px, 120px, $black-light, 40px);
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                .item:hover {
                    .item-title {
                        // height: 120px;
                    }
                }
                .item:nth-child(1) {
                    .item-price {
                        background-color: $green-light;
                    }
                }
                .item:nth-child(1):hover {
                    background-color: white;
                    button {
                        background-color: $green-light;
                    }
                }
                .item:nth-child(2) {
                    .item-price {
                        background-color: #7ee0bf;
                    }
                }
                .item:nth-child(2):hover {
                    background-color: white;
                    button {
                        background-color: #7ee0bf;
                    }
                }
                .item:nth-child(3) {
                    .item-price {
                        background-color: $blue-dark;
                    }
                }
                .item:nth-child(3):hover {
                    background-color: white;
                    button {
                        background-color: $blue-dark;
                    }
                }
                .item:nth-child(4) {
                    .item-price {
                        background-color: #a289e8;
                    }
                }
                .item:nth-child(4):hover {
                    background-color: white;
                    button {
                        background-color: #a289e8;
                    }
                }
            }
        }
    }
    #ad {
        background-color: #ffcd46;
        padding: 90px 0;
        .ad {
            display: flex;
            justify-content: space-between;
            .logo {
                font-size: 63px;
                color: $black-light;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                img {
                    vertical-align: top;
                }
            }
            .desc {
                flex: 0 0 360px;
                font-size: 24px;
                text-align: center;
                color: $black-light;
            }
            button {
                @include custom-button(50px, 350px, #ffcd46, 50px);
                border: 3px solid $black-light;
                font-size: 19px;
                color: $black-light;
                text-transform: uppercase;
                font-weight: bold;
            }
            button:hover {
                background-color: white;
            }
        }
    }
    #open-vacanies {
        .open-vacanies {
            padding: 130px 0;
            display: flex;
            justify-content: space-between;
            .teams {
                width: 362px;
                .title {
                    font-size: 24px;
                    color: $black-light;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                }
                .item {
                    background-color: $background-slider;
                    display: flex;
                    justify-content: center;
                    padding: 50px 0;
                    height: 170px;
                    margin-bottom: 28px;
                    .info {
                        padding-left: 10px;
                        div:nth-child(1) {
                            font-size: 24px;
                        }
                        div:nth-child(2) {
                            font-size: 14px;
                            color: $gray-mid;
                            padding: 10px 0;
                        }
                        div:nth-child(3) {
                            font-size: 16px;
                            color: $blue-light;
                            font-weight: bold;
                        }
                    }
                }
                .item:last-child {
                    margin: 0;
                }
            }
            .vacanies {
                width: 766px;
                .title {
                    font-size: 24px;
                    color: $black-light;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                }
                .position {
                    ul {
                        display: flex;
                        li {
                            margin-right: 15px;
                            button {
                                @include custom-button(50px, 160px, $background-slider, 0);
                                text-transform: uppercase;
                                color: $black-light;
                            }
                            button:hover {
                                background-color: white;
                                font-weight: bold;
                                border: 1px solid $background-slider;
                            }
                        }
                    }
                }
                .desc {
                    padding: 40px;
                    border: 1px solid $background-slider;
                    margin-top: 25px;
                    .detail {
                        display: flex;
                        justify-content: space-between;
                        .more-detail {
                            width: 300px;
                            .more-detail-title {
                                font-size: 19px;
                                color: $black-light;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                            .more-detail-desc {
                                margin-top: 35px;
                                color: $gray-mid;
                            }
                        }
                    }
                    .list-item {
                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            height: 120px;
                            list-style-type: square;
                            margin-top: 60px;
                            margin-left: 20px;
                            li {
                                margin-bottom: 10px;
                                color: $gray-mid;
                                width: 383px;
                            }
                        }
                    }
                }
            }
        }
    }
    #contact-us {
        background-color: $background-counters;
        .contact-us {
            display: flex;
            justify-content: space-between;
            padding: 130px 25px;
            .item {
                text-align: center;
                .title {
                    font-size: 19px;
                    color: white;
                    text-transform: uppercase;
                    margin: 30px 0;
                }
                .list {
                    color: $gray-mid;
                }
            }
        }
        .bg-head {
            display: flex;
            .box-left {
                background-color: $background-slider;
                flex: 1;
                width: 50%;
                height: 455px;
                border-radius: 0 70px 0 0;
            }
            .box-right {
                flex: 1;
                background-color: $background-slider;
                height: 455px;
                width: 50%;
                border-radius: 70px 0 0 0;
            }
        }
    }
}