@import "varibles";
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: tahoma;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

#app {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}