@import "varibles";
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    font-family: tahoma;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.d-flex{
    display: flex;
}
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-align{
    display: flex;
    align-items: center;
}

.flex-3 {
    flex: 0 0 25%;
}

.flex-4 {
    flex: 0 0 33.333333%;
}

.flex-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.flex-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.flex-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-sourcesan-pro {
    font-family: "Source Sans Pro", sans-serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}