@import "../varibles";
@import "../mixin";

.title-customer {
    display: flex;
    @include text-uppercase($font1, 36px);
    font-weight: 300;
    img {
        display: block;
        margin-right: 20px;
        width: 40px;
        height: 40px;
    }
}

.checkbox {
    padding-right: 5px;
    label{
        font-family: $font2;
        color: $gray-mid;
        font-size: 16px !important;
        line-height: 25px;
    }
    .box-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 22px;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        input:checked ~ .checkmark:after {
            display: block;
            content: "\f107";
            font-family: "FontAwesome";
            font-size: 24px;
            left: 4px;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border: 1px solid $border-gray;
            border-radius: 3px;
            background-color: #f5f7f6;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

.form-input {
    div {
        font-family: $font2;
        color: $gray-mid;
        margin-bottom: 10px;
        span {
            font-size: 16px;
            color: red;
        }
    }
    input {
        width: 100%;
        height: 40px;
        border: 1px solid $border-gray;
        border-radius: 5px;
        margin-bottom: 20px;
        padding-left: 20px;
        font-family: $font2;
        font-size: 16px;
        color: black;
        &::placeholder{
            font-family: $font2;
            color: $gray-mid;
            font-size: 16px;
        }
    }
}

main {
    padding-top: 80px;
    padding-bottom: 80px;
    .box-alert {
        margin-bottom: 30px;
        padding: 10px 25px;
        border-radius: 5px;
        .content-box-full {
            display: flex;
            align-items: center;
            position: relative;
            .icon {
                width: 53px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
                i {
                    color: white;
                    font-size: 22px;
                    display: block;
                }
            }
            .text {
                width: 100%;
                font-family: $font2;
                font-size: 16px;
                color: #3c3950;
                display: flex;
                justify-content: space-between;
                a {
                    color: $blue-light;
                }
            }
            .close {
                cursor: pointer;
                img {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
    .box-error {
        background-color: #fcc6c2;
        .icon {
            background-color: #f44336;
        }
    }
    .box-required {
        background-color: #b2ebf2;
        .icon {
            background-color: $blue-light;
        }
    }
    .steps {
        display: flex;
        .step {
            flex-grow: 1;
            display: flex;
            align-items: center;
            font-family: $font1;
            font-size: 14px;
            font-weight: bold;
            color: $gray-mid;
            text-transform: uppercase;
            padding-left: 50px;
            // cursor: pointer;
        }
        .step {
            height: 60px;
            background-color: #e9f0ef;
            position: relative;
            margin-left: 5px;
            &:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0;
                border-left: 30px solid white;
                border-top: 30px solid transparent;
                border-bottom: 30px solid transparent;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 1;
                right: -30px;
                top: 0;
                border-left: 30px solid #e9f0ef;
                border-top: 30px solid transparent;
                border-bottom: 30px solid transparent;
            }
            &:first-child {
                margin-left: 0px;
                border-radius: 5px 0 0 5px;
                &:before {
                    display: none;
                }
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
                &:after {
                    display: none;
                }
            }
            &.step-active {
                background-color: #ffd453;
                color: black;
                // &:before {
                //     border-left: 30px solid #ffd453;
                // }
                &:after {
                    border-left: 30px solid #ffd453;
                }
            }
        }
    }
    .info-customer {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        padding-top: 80px;
        padding-bottom: 80px;
        
        .login {
            flex: 0 0 50%;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 50px;
            .box-form {
                margin-top: 35px;
                
                .form-login__button {
                    display: flex;
                    align-items: center;
                    button {
                        @include custom-button(50px, 130px, white, 5px);
                        @include text-uppercase($font1, 19px);
                        color: $blue-light;
                        border: 3px solid $blue-light;
                        transition: 0.5s;
                        &:hover {
                            color: white;
                            background-color: $blue-light;
                        }
                    }
                    .checkbox {
                        border-right: 1px solid $border-gray;
                        padding-left: 25px;
                        padding-right: 20px;
                    }
                    a {
                        font-family: $font2;
                        color: $blue-light;
                        padding-left: 15px;
                    }
                }
            }
        }
        .register{
            flex: 0 0 50%;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 45px;
            &__button{
                margin-top: 70px;
                button{
                    @include text-uppercase($font1, 16px);
                    @include custom-button(40px, 100%, white, none);
                    display: block;
                    color: white;
                    transition: ease .5s;
                    margin-bottom: 50px;
                    border-radius: 5px;
                    &:first-child{
                        background-color: $gray-mid;
                        &:hover{
                            border: 3px solid $gray-mid;
                            background: white;
                            color: $gray-mid;
                        }
                    }
                    &:last-child{
                        background-color: $blue-light;
                        margin-bottom: 0px;
                        &:hover{
                            border: 3px solid $blue-light;
                            background: white;
                            color: $blue-light;
                        }
                    }
                }
            }
        }
    }
    .billing{
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        padding-top: 80px;
        padding-bottom: 130px;
        article{
            flex: 0 0 50%;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 50px;
        }
        .box-select {
            position: relative;
            margin-bottom: 20px;
            select{
                @include custom-select(100%, 1px solid $border-gray);
                border-radius: 5px;
                -webkit-appearance: none;
                height: 40px;
                padding-left: 20px;
            }
            &::after{
                @include custom-icon-select("\f107", 13px);
            }
        }
        .group-2-input{
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            .form-input{
                flex: 0 0 50%;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        textarea{
            width: 100%;
            height: 217px;
            width: 100%;
            border: 1px solid $border-gray;
            border-radius: 5px;
            padding: 20px;
            font-family: $font2;
            font-size: 16px;
            color: black;
            &::placeholder{
                font-family: $font2;
                color: $gray-mid;
                font-size: 16px;
            }
        }
        .bill-address{
            .box-form{
                margin-top: 35px;
            }
        }
        .different-address{
            .box-form{
                margin-top: 70px;
                .checkbox{
                    margin-bottom: 30px;
                }
            }
        }
        .btn-step{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            button{
                @include custom-button(50px, fit-content ,white, 5px);
                @include text-uppercase($font1, 19px);
                padding-left: 25px;
                padding-right: 25px;
                margin-top: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                transition: .5s;
                i{
                    font-size: 20px;
                }
                &:first-child{
                    color: $black-light;
                    border: 3px solid $black-light;
                    i{
                        padding-right: 20px;
                    }
                    &:hover{
                        background-color: $black-light;
                        color: white;
                        
                    }
                }
                &:last-child{
                    color: $blue-light;
                    border: 3px solid $blue-light;
                    i{
                        padding-left: 20px;
                    }
                    &:hover{
                        background-color: $blue-light;
                        color: white;
                    }
                }
            }
        }

    }
    .payment{
        margin-top: 125px;
        margin-bottom: 45px;
        .table-order{
            .table-order-detail {
                margin-top: 40px;
                width: 100%;
                border-collapse: collapse;
                border-bottom: 1px solid $border-gray;
                border-left: 1px solid $border-gray;
                border-right: 1px solid $border-gray;
                tr:first-child {
                    background-color: #b6c6c9 !important;
                    border-left: 1px solid #b6c6c9;
                    border-right: 1px solid #b6c6c9;
                    th {
                        color: white;
                        font-family: $font1;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding-top: 25px;
                        padding-bottom: 25px;
                    }
                }
                tr:nth-child(odd) {
                    background-color: #f0f3f2;
                }
                td,
                th {
                    text-align: left;
                    padding: 20px;
                }
                .table-product {
                    .box {
                        display: flex;
                        align-items: center;
                    }
    
                    img {
                        display: block;
                    }
                    .text {
                        margin-left: 15px;
                        color: $blue-light;
                        font-family: $font2;
                        span {
                            color: #99a9b5;
                            font-family: $font2;
                            font-size: 14px;
                            margin-left: 10px;
                            margin-top: 1px;
                        }
                    }
                }
                .table-quantity {
                    div{
                        text-align: center;
                        color: $gray-mid;
                    }
                }
                .table-total {
                    font-family: $font2;
                    font-size: 24px;
                    font-weight: 300;
                }
            }
            .infos {
                border-right: 1px solid $border-gray;
                border-left: 1px solid $border-gray;
                border-bottom: 1px solid $border-gray;
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                &__left {
                    flex: 0 0 70%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    margin-top: 100px;
                    input {
                        height: 50px;
                        width: 260px;
                        border: 1px solid $border-gray;
                        background-color: #f0f3f2;
                        border-radius: 5px;
                        padding-left: 20px;
                        padding-right: 5%;
                        font-size: 16px;
                        font-family: $font2;
                    }
                    button {
                        @include custom-button(50px, 110px, white, 5px);
                        margin-left: 20px;
                        border: 3px solid $blue-light;
                        color: $blue-light;
                        transition: ease 0.5s;
                        @include text-uppercase($font1, 19px);
                        &:hover {
                            color: white;
                            background-color: $blue-light;
                        }
                    }
                }
                &__right {
                    flex: 0 0 30%;
                    table {
                        border-collapse: collapse;
                        width: 100%;
                        font-family: $font2;
                        tr {
                            border-bottom: 1px solid $border-gray;
                            &:first-child{
                                td{
                                    padding-top: 0px;
                                }
                            }
                            &:last-child{
                                border: none;
                                td{
                                    padding-bottom: 0px;
                                }
                            }
                            td{
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                            td:first-child {
                                color: $gray-mid;
                                width: 70%;
                            }
                            .td-sub-total {
                                font-size: 20px;
                                font-weight: 300;
                            }
                            .td-total {
                                font-size: 24px;
                                font-weight: 300;
                                color: $blue-light;
                            }
                            .td-ship {
                                color: #99a9b5;
                            }
                        }
                    }
                }
            }
        }
        .wrapper-radio{
            margin-top: 95px;
            margin-bottom: 30px;
        }
        .wrapper-box-radio{
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $border-gray;
            &:first-child{
                margin-top: 30px;
                border-top: 1px solid $border-gray;
            }
            &:last-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
                fieldset{
                    padding: 0px 5px;
                    border: 1px solid $border-gray;
                }
            }
        }
        .box-radio {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 16px;
            font-family: $font2;
            color: $gray-mid;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked ~ .checkmark:after{
                    display: block;
                    top: 2px;
                    left: 2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $black-light;
                }
            }
            .checkmark {
                position: absolute;
                top: 2px;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: white;
                border: 2px solid $gray-light;
                border-radius: 50%;
                &:after{
                    content: "";
                    position: absolute;
                    display: none;
                }
            }
        }
        .box-full{
            background-color: #a3e7f0;
            padding: 45px;
            border-radius: 5px;
            .content-box-full{
                display: flex;
                align-items: center;
                position: relative;
                .tick{
                    min-width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #84b2c0;
                    margin-right: 20px;
                }
                .text{
                    font-family: $font2;
                    font-size: 16px;
                    color: #3c3950;
                    padding-right: 50px;
                }
            }
        }
        .btn-step{
            display: flex;
            justify-content: space-between;
            button{
                @include custom-button(50px, fit-content ,white, 5px);
                @include text-uppercase($font1, 19px);
                padding-left: 25px;
                padding-right: 25px;
                margin-top: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                transition: .5s;
                i{
                    font-size: 20px;
                    padding-right: 20px;
                }
                &:first-child{
                    color: $black-light;
                    border: 3px solid $black-light;
                    &:hover{
                        background-color: $black-light;
                        color: white;
                        
                    }
                }
                &:last-child{
                    color: white;
                    border: 3px solid $blue-light;
                    background-color: $blue-light;
                    &:hover{
                        background-color: white;
                        color: $blue-light;
                    }
                }
            }
        }
    }
}

#register{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(52, 73, 94, .8);
    .box-form-register{
        font-family: $font2;
        color: $gray-mid;
        background-color: white;
        border-radius: 5px;
        max-width: 650px;
        padding: 50px;
        margin: auto;
    }
    .form-register{
        &__desc{
            margin-top: 65px;
            margin-bottom: 50px;
        }
        &__input {
            div {
                margin-bottom: 10px;
                sup {
                    font-size: 16px;
                    color: red;
                }
            }
            input {
                padding-left: 15px;
                width: 100%;
                height: 40px;
                border: 1px solid $border-gray;
                border-radius: 5px;
                color: $gray-mid;
                font-size: 30px;
            }
        }
        &__button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;
            button {
                @include custom-button(50px, 130px, white, 5px);
                @include text-uppercase($font1, 19px);
                color: $blue-light;
                border: 3px solid $blue-light;
                transition: 0.5s;
                &:hover {
                    color: white;
                    background-color: $blue-light;
                }
            }
            // .checkbox {
            //     padding-right: 5px;
            //     label{
            //         font-family: $font2;
            //         color: $gray-mid;
            //         font-size: 16px !important;
            //         line-height: 25px;
            //     }
            //     .box-checkbox {
            //         display: block;
            //         position: relative;
            //         padding-left: 35px;
            //         cursor: pointer;
            //         font-size: 22px;
            //         input {
            //             position: absolute;
            //             opacity: 0;
            //             cursor: pointer;
            //             height: 0;
            //             width: 0;
            //         }
            //         input:checked ~ .checkmark:after {
            //             display: block;
            //             content: "\f107";
            //             font-family: "FontAwesome";
            //             font-size: 24px;
            //             left: 4px;
            //         }
            //         .checkmark {
            //             position: absolute;
            //             top: 0;
            //             left: 0;
            //             height: 25px;
            //             width: 25px;
            //             border: 1px solid $border-gray;
            //             border-radius: 3px;
            //             background-color: #f5f7f6;
            //         }
            //         .checkmark:after {
            //             content: "";
            //             position: absolute;
            //             display: none;
            //         }
            //     }
            // }
        }
    }
}

@media (max-width: 1200px){
    .title-customer{
        font-size: 26px !important;
        img{
            width: 28px;
            height: 28px;
            margin-right: 10px !important;
        }
    }
    .info-customer{
        .login, .register{
            flex: 0 0 100% !important;
        }
        .register{
            &__button{
                display: flex;
                justify-content: space-between;
                button{
                    width: 45% !important;
                }
            }
        }
    }
    .payment{
        .box-full{
            padding: 30px !important;
            .text{
                padding-right: 0 !important;
            }
        }
    }
}

@media (max-width: 768px){
    .steps{
        .step{
            padding-left: 32px !important;
        }
    }
    .billing{
        article{
            flex: 0 0 100% !important;
        }
    }
    .table-order{
        table{
            tr{
                .table-product {
                    .text{
                        span{
                            margin-left: 0px !important;
                        }
                    }
                }
            }
        }
        .infos{
            &__right{
                flex: 0 0 100% !important;
            }
            &__left{
                flex: 0 0 100% !important;
                margin-top: 50px !important;
                margin-bottom: 50px !important;
                input{
                    flex-grow: 1;
                }
            }
        }
    }
    #register{
        .box-form-register{
            width: 70% !important;
            padding: 20px !important;
            .form-register__desc{
                margin-top: 20px !important;
                margin-bottom: 20px !important;
            }
            .form-register__button{
                margin-top: 20px !important;
                button{
                    margin-top: 20px;
                    width: 100% !important;
                    height: 40px !important;
                }
            }
        }
    }

}

@media (max-width: 576px){
    .box-alert {
        .content-box-full {
            .icon {
                width: 33px !important;
                height: 30px !important;
                i{
                    font-size: 18px !important;
                }
            }
            .text{
                font-size: 14px !important;
            }
        }
    }
    .steps{
        .step{
            padding-left: 22px !important;
            height: 40px !important;
            font-size: 8px !important;
            &:before {
                border-left-width: 20px !important;
                border-top-width: 20px !important;
                border-bottom-width: 20px !important;
            }
            &::after {
                right: -20px !important;
                border-left-width: 20px !important;
                border-top-width: 20px !important;
                border-bottom-width: 20px !important;
            }
        }
    }
    .title-customer{
        font-size: 20px !important;
        img{
            width: 24px;
            height: 24px;
            margin-right: 10px !important;
        }
    }
    .form-login__button{
        flex-direction: column;
        align-items: flex-start !important;
        button{
            margin-top: 20px;
            height: 40px !important;
            width: 100% !important;
        }
        .checkbox{
            padding-left: 0 !important;
            padding-right: 0 !important;
            border-right: none !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a{
            padding-left: 0 !important;
        }
    }
    .register{
        .register__button{
            flex-direction: column;
            button{
                width: 100% !important;
            }
        }
    }
    .btn-step{
        button{
            padding-left: 8px !important;
            padding-right: 8px !important;
            font-size: 12px !important;
            height: 40px !important;
            
        }
    }
    .billing{
        .group-2-input{
            .form-input{
                flex: 0 0 100% !important; 
            }
        }
        .btn-step{
            button{
                &:first-child{
                    i{
                        padding-right: 10px !important;
                    }
                }
                &:last-child{
                    i{
                        padding-left: 10px !important;
                    }
                }
            }
        }
    }
    .payment{
        .table-order{
            table{
                tr{
                    th {
                        font-size: 10px !important;
                    }
                    td,th{
                        padding: 8px !important;
                    }
                    td.table-product{
                        .box{
                            img{
                                width: 50px !important;
                                height: 50px !important;
                            }
                            .text{
                                font-size: 12px !important;
                                margin-left: 5px !important;
                                span{
                                    font-size: 11px !important;
                                }
                            }
                        }
                    }
                    td.table-total{
                        font-size: 15px !important;
                    }
                    
                }
            }
            .infos{
                &__left{
                    input{
                        width: 100% !important;
                        height: 40px !important;
                    }
                    button{
                        width: 100% !important;
                        height: 40px !important;
                        font-size: 16px !important;
                        margin-top: 30px;
                        margin-left: 0 !important;
                    }
                }
            } 
        }
        .box-full{
            padding: 15px !important;
            .tick{
                min-width: 30px !important;
                height: 30px !important;
                margin-right: 10px !important;
            }
            .text{
                font-size: 12px !important;
            }
        }
        .wrapper-box-radio{
            flex-direction: column;
            align-items: flex-start !important;
        }
        .btn-step{
            button{
                i{
                    padding-right: 5px !important;
                }
            }
        }
    }
    
    #register{
        .box{
            .box-form-register{
                width: 280px !important;
            }
        }
    }
}