@import "../varibles";
@import "../mixin";
main{
    .list-product {
        margin-top: 85px;
        &__title {
            font-family: $font2;
            font-size: 24px;
            font-weight: 300;
            span {
                color: $blue-light;
            }
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 25px;
            border-left: 1px solid $border-gray;
            border-right: 1px solid $border-gray;
            tr:first-child {
                background-color: #b6c6c9 !important;
                border-left: 1px solid #b6c6c9;
                border-right: 1px solid #b6c6c9;
                th {
                    color: white;
                    font-family: $font1;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
            }
            tr:nth-child(odd) {
                background-color: #f0f3f2;
            }

            td,
            th {
                margin: 0;
                padding: 0;
                text-align: left;
                padding: 15px 5px;
            }
            .table-close {
                vertical-align: middle;
                i {
                    color: red;
                    font-size: 20px;
                }
            }
            .table-product {
                .box {
                    display: flex;
                    align-items: center;
                }

                img {
                    display: block;
                }
                .text {
                    margin-left: 15px;
                    color: $blue-light;
                    font-family: $font2;
                    span {
                        color: #99a9b5;
                        font-family: $font2;
                        font-size: 14px;
                        margin-left: 10px;
                        margin-top: 1px;
                    }
                }
            }
            .table-quantity {
                .box {
                    display: flex;
                    button {
                        width: 30px;
                        height: 30px;
                        border: none;
                        background-color: #dfe5e8;
                        font-family: $font2;
                        color: $gray-mid;
                    }
                    input {
                        width: 40px;
                        height: 30px;
                        border: 1px solid #dfe5e8;
                        background-color: #f5f7f6;
                        text-align: center;
                        font-family: $font2;
                        color: $gray-mid;
                    }
                }
            }
            .table-price {
                font-family: $font2;
                font-size: 20px;
                font-weight: 300;
            }
            .table-total {
                font-family: $font2;
                font-size: 24px;
                font-weight: 300;
            }
        }
        .infos {
            border: 1px solid $border-gray;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            &__left {
                display: flex;
                input {
                    height: 50px;
                    width: 260px;
                    border: 1px solid $border-gray;
                    background-color: #f0f3f2;
                    border-radius: 5px;
                    padding-left: 10%;
                    padding-right: 5%;
                    font-size: 16px;
                    font-family: $font2;
                }
                button {
                    @include custom-button(50px, 110px, white, 5px);
                    margin-left: 20px;
                    border: 3px solid $blue-light;
                    color: $blue-light;
                    transition: ease 0.5s;
                    @include text-uppercase($font1, 19px);
                    &:hover {
                        color: white;
                        background-color: $blue-light;
                    }
                }
            }
            &__right {
                a {
                    @include text-uppercase($font1, 19px);
                    color: white;
                    padding: 10px 15px;
                    border-radius: 5px;
                }
                a:first-child {
                    background-color: $blue-light;
                    border: 3px solid $blue-light;
                    margin-right: 17px;
                    transition: ease 0.5s;
                    &:hover {
                        background-color: white;
                        color: $blue-light;
                    }
                }
                a:last-child {
                    background-color: $black-light;
                    border: 3px solid $black-light;
                    transition: ease 0.5s;
                    &:hover {
                        background-color: white;
                        color: $black-light;
                    }
                    i {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .shipping-total {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
        article {
            margin-top: 75px;
            padding-left: 20px;
            padding-right: 20px;
            flex: 0 0 50%;
            .title {
                @include text-uppercase($font1, 36px);
                font-weight: 300;
            }
            .box-shipping {
                margin-top: 50px;
                select {
                    @include custom-select(100%, 1px solid $border-gray);
                    border-radius: 2px;
                    -webkit-appearance: none;
                    height: 40px;
                    padding-left: 20px;
                }
                .box-select {
                    position: relative;
                    margin-bottom: 20px;
                }
                .box-select::after {
                    @include custom-icon-select("\f107", 13px);
                }
                .box-input {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -10px;
                    margin-right: -10px;
                    .input-item {
                        margin-bottom: 20px;
                        flex: 0 0 50%;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    input {
                        width: 100%;
                        height: 40px;
                        padding-left: 20px;
                        border: 1px solid $border-gray;
                        font-family: $font2;
                        font-size: 16px;
                    }
                }
                button {
                    @include text-uppercase($font1, 19px);
                    @include custom-button(50px, 211px, white, 5px);
                    border: 3px solid $blue-light;
                    color: $blue-light;
                    transition: .5s;
                    &:hover{
                        background-color: $blue-light;
                        color: white;
                    }
                }
            }
            .box-total {
                margin-top: 50px;
                table {
                    border: 1px solid $border-gray;
                    border-collapse: collapse;
                    width: 100%;
                    tr {
                        td:first-child {
                            background-color: #f0f3f2;
                            padding: 20px;
                            font-family: $font2;
                            color: $gray-mid;
                        }
                        td:last-child {
                            padding-left: 25px;
                            padding-right: 25px;
                            font-family: $font2;
                        }
                        .td-sub-total {
                            font-size: 20px;
                            font-weight: 300;
                        }
                        .td-total {
                            font-size: 24px;
                            font-weight: 300;
                        }
                        .td-ship {
                            padding-top: 20px;
                            padding-bottom: 20px;
                            .box-radio {
                                display: block;
                                position: relative;
                                padding-left: 25px;
                                margin-bottom: 12px;
                                cursor: pointer;
                                font-size: 14px;
                                color: $gray-mid;
                                font-weight: 600;
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    &:checked ~ .checkmark:after{
                                        display: block;
                                        top: 4px;
                                        left: 4px;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background: white;
                                    }
                                }
                                .checkmark {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #b6c6c9;
                                    border-radius: 50%;
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    .related-product{
        margin-top: 144px;
        margin-bottom: 144px;
        .text{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            .title{
                @include text-uppercase($font1, 36px);
                font-weight: 300;
                margin-right: 20px;
            }
            .border{
                border-top: 1px solid $border-gray;
                border-bottom: 1px solid $border-gray;
                height: 4px;
                flex-grow: 1;
            }
        }
        .box-related {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            .box {
                padding-left: 20px;
                padding-right: 20px;
                flex: 0 0 16.66%;
                margin-top: 40px;
            }
            .item {
                &__image {
                    position: relative;
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                    .background-blue {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(52, 152, 219, 0.5);
                        visibility: hidden;
                        opacity: 0;
                        transition: ease 0.5s;
                        z-index: 1;
                    }
                    .sale-abso {
                        width: 60px;
                        height: 60px;
                        background-color: $blue-light;
                        border-radius: 50%;
                        color: white;
                        font-family: $font1;
                        font-weight: bold;
                        font-size: 14px;
                        text-transform: uppercase;
                        position: absolute;
                        z-index: 3;
                        right: -20px;
                        top: 20px;
                    }
                    .new-abso {
                        width: 50px;
                        height: 50px;
                        background-color: $black-light;
                        border-radius: 50%;
                        color: white;
                        font-family: $font1;
                        font-weight: bold;
                        font-size: 12px;
                        text-transform: uppercase;
                        position: absolute;
                        z-index: 2;
                        right: -15px;
                        top: 25px;
                    }
                    .new-sale-abso {
                        top: 65px !important;
                    }
                }
                &:hover {
                    .background-blue {
                        visibility: visible;
                        opacity: 1;
                    }
                    .info {
                        background-color: #f0f3f2;
                        &__border {
                            width: 80px;
                        }
                    }
                }
                .info {
                    border-bottom: 1px solid $border-gray;
                    border-left: 1px solid $border-gray;
                    border-right: 1px solid $border-gray;
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    transition: ease 0.5s;
                    padding-left: 5px;
                    padding-right: 5px;
                    &__name {
                        font-family: $font2;
                        color: $black-light;
                        text-transform: capitalize;
                        margin-bottom: 8px;
                    }
                    &__price {
                        color: $blue-light;
                        font-family: $font2;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .box-related {
        .box {
            flex: 0 0 33.33% !important;
        }
    }
}

@media (max-width: 1024px){
    .list-product{
        .infos{
            flex-direction: column;
            &__right{
                margin-top: 20px;
            }
        }
    }
    .title{
        font-size: 29px !important;
    }
}

@media (max-width: 768px){
    .list-product {
        table{
            tr{
                td.table-product{
                    .box{
                        flex-direction:  column !important;
                        align-items: flex-start !important;
                        .text{
                            margin-top: 5px;
                            margin-left: 0 !important;
                        }
                    }
                }
                td.table-price{
                    font-size: 18px !important;
                }
                td.table-total{
                    font-size: 20px !important;
                }
            }
        }
    }
    .shipping-total {
        article {
            flex: 0 0 100% !important;
        }
    }
    .box-related {
        .box {
            flex: 0 0 50% !important;
        }
    }
}

@media (max-width: 576px){
    .list-product{
        .list-product__title{
            font-size: 20px !important;
        }
        table{
            tr{
                th {
                    font-size: 10px !important;
                }
                td.table-product{
                    .box{
                        img{
                            width: 50px !important;
                            height: 50px !important;
                        }
                        .text{
                            font-size: 12px !important;
                            span{
                                font-size: 11px !important;
                                margin-left: 0px !important;
                            }
                        }
                    }
                }
                td.table-close{
                    i{
                        font-size: 15px !important;
                    }
                }
                td.table-quantity {
                    button{
                        width: 15px !important;
                    }
                    input{
                        width: 20px !important;
                    }
                }
                td.table-price{
                    font-size: 13px !important;
                }
                td.table-total{
                    font-size: 15px !important;
                }
                
            }
        }
        
        .infos{
            padding: 10px !important;
            &__left{
                justify-content: space-between;
                width: 100%;
                input{
                    height: 30px !important;
                    width: 100% !important;
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                    font-size: 14px !important;
                }
                button{
                    height: 30px !important;
                    font-size: 14px !important;
                    margin-left: 10px !important;
                }
            }
            &__right{
                margin-top: 15px !important;
                a{
                    font-size: 13px !important;
                    padding: 5px !important;
                    &:first-child{
                        margin-right: 5px !important;
                    }
                }
            }
        }
    }
    .title{
        font-size: 20px !important;
    }
    .shipping-total {
        article {
            .box-input {
                .input-item {
                    flex: 0 0 100% !important;
                }
            }
            button{
                width: 100% !important;
                height: 40px !important;
                font-size: 16px !important;
            }
            .box-total {
                table{
                    tr{
                        td{
                            padding: 5px !important;
                        }
                    }
                }
            }
        }
    }
}